.search {
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-align: start;
    background-color: white;
}

.search_bar {
    grid-row: 3;
    grid-column: 1;
    align-items: center;
    display: flex;
    background-color: white;
    border-top: 0;
}

#icon {
    padding-left: 1.3rem;
    border-radius: 11rem 0rem 0rem 11rem;
    background-color: #e3e3e3;
    height: 3.5rem;
    width: 3rem;
    display: flex;
    align-items: center;
    margin: 0;
}

.search_box {
    border: none;
    background-color: white;
    font-size: 1.1rem;
    width: 8rem;
    border: 2px #e3e3e3 solid;
    height: 3.4rem;
    width: 100%;
    padding-left: 2rem;
}

.Reservez {
    grid-row: 1;
    grid-column: 1/ span2;
}

.Decouvrez {
    grid-row: 2;
    grid-column: 1/ span2;
}

.button_rechercher {
    grid-row: 3;
    grid-column: 2;
    border-radius: 0 11rem 11rem 0;
}