@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
     padding: 0; 
 }
  
body {
    font-family: Roboto;
}

.header {
    display: flex;
    align-items: center;
    margin: 1.5rem;
}

.logo {
    width: 11rem;
    margin-left: 4.9rem;
}

.arrow {
    font-size: 1.3rem;
}

.menu_img {
    object-fit: cover;
    width: 100%;
}

h1 {
    font-family: Shrikhand;
}

.flex_h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    margin-top: -55px;
}

.heart {
    margin-right: 2.6rem;
    font-size: 1.5rem;
    color: #565656;
}

.menu {
    background-color: #F2F2F2;
    border-radius: 3rem 3rem 0 0;
    margin-top: -55px;
    position: absolute;
    width: 100%;
    padding-top: 5.5rem;
    
}

h2 {
    font-weight: normal;
    color:#565656;
    font-size: 1.2rem;
    margin: 1.3rem;
}

.entree {
    background-color: white;
    margin: 1.3rem;
    padding: 1rem;
    border-radius: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
}

.entree_descr {
    color: #565656;
}

.price {
    margin-right: 0.5rem;
    font-weight: bold;
}