@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
     padding: 0; 
 }
  
body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    margin: 1.5rem;
}

.logo {
    width: 11rem;
    margin-left: 4.5rem;
}

.arrow {
    font-size: 1.3rem;
}

.menu_img {
    object-fit: cover;
    width: 100%;
}

h1 {
    font-family: Shrikhand;
    font-size: 1.85rem;
}

.flex_h1 {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-top: -55px;
}

.heart {
    position: absolute;
    right: 2.6rem;
    font-size: 1.5rem;
    color: #565656;
}

.heart2 {
    opacity: 0;
    position: absolute;
    color: #FF79DA;
    right: 2.6rem;
    font-size: 1.5rem;
}

.heart2:hover {
    color: #9356DC;
    opacity: 1;
    transition: color 1500ms ease-in-out;
}

.heart2:active {
    color: #9356DC;
    opacity: 1;
    transition: color 1500ms ease-in-out forwards;
}



.menu {
    background-color: #F2F2F2;
    border-radius: 3rem 3rem 0 0;
    margin-top: -55px;
    position: relative;
    width: 100%;
    padding-top: 5.5rem;
    
}

h2 {
    font-weight: normal;
    color:#565656;
    font-size: 1.2rem;
    padding: 1.9rem 1.3rem 0.1rem;
}

hr {
    width: 49px;
    height: 3.3px;
    background-color: #99E2D0;
    border: none;
    margin-top: 4px;
    margin-left: 1.4rem;
}

.card {
    flex: 1;
    padding: 0.9rem;
}

.animation_menu {
    width: 18%;
    align-items: center;
    justify-content: center;
    background: #99E2D0;
    border-radius: 0 20px 20px 0;
    display: none;
    animation: slideLeft 0.5s;
}

.plat {
    width: 92%;
    background: #FFF;
    box-shadow: 2px 2px 10px #dbd9d9;
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
}

.plat:hover .animation_menu {
    display: flex;
}

.plat:hover .flex {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.5s;
}

.plat:hover .card {
    margin: 0 -18% 0 0;
    transition-duration: 0.5s;
}

.card:hover h3 {
    width: 82%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.5s;
}

@keyframes slideLeft {
    from {
      width: 0%;
    }
    to {
      width: 18%;
    }
  }
  @keyframes spinner-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.plat1 {
    animation: fadein 2s;
}

.plat2 {
    animation: fadein 4s;
}

.plat3 {
    animation: fadein 6s;
}

.plat4 {
    animation: fadein 8s;
}

.Dessertplat1 {
    animation: fadein 2s;
}

.Dessertplat2 {
    animation: fadein 4s;
}

.Dessertplat3 {
    animation: fadein 6s;
}

.flex {
    width: 100%;
    display: flex;
}

h3 {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entree_descr {
    width: 90%;
    margin: 0 5px 0 0;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    width: 12%;
    margin: 0;
    font-weight: 800;
}

.hidden {
    position: absolute;
}

.check {
    font-size: 1.5em;
    color: #FFF;
    animation: spinner-rotate 0.5s;
}

.button_commander {
    background-image: linear-gradient(#FF79DA, #9356DC);
    height: 3.5rem;
    width: 13rem;
    opacity: 1;
    border-radius: 11rem;
    font-size: 1.1rem;
    color: white;
    margin: 2.5rem 0 5.5rem;
    box-shadow: 0 5px 13px #B9B9B9;
    border: none;
    cursor: pointer;
}

.button_commander:hover {
    opacity: 0.5;
    box-shadow: 0 5px 13px black;
}

.button {
    text-align: center;
}

footer {
    background-color: #3B3B3B;
    padding: 1.8rem;
}

.logo_title {
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    color:white;
}

.footer_icon {
    color: white;
    font-size: 0.9rem;
}

.footer_icon2 {
    color: white;
    font-size: 0.7rem;
}

.paragraph_flex {
    color: white;
    margin-left: 0.7rem;
}

.footer_flex {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.footer_paragraph {
    color: white;
    margin-bottom: 0.5rem;
}